
body {margin-left:-.5px;
      margin-right:-.5px;} 

/**** NAVIGATION *******/ 

#navigation { background-color: black;
              position: fixed; 
              height: 70px;
              width:100%;
              top:0;
              left:0;

              border-bottom-style: solid; 
              border-bottom-color: #6b6b6b;
              border-bottom-width: 2px; 
              z-index: 9999999;
            }
.contactlink {padding-right: -2em; } 

.nav-links li {  
                color: white;
                font-family: 'Montserrat', sans-serif;
                font-weight: 100;
                font-size: 12px;
                padding-left: .2em;
                padding-right: .2em; 
                padding-bottom: .5em;
                padding-top: .5em;
                /*background-color: black;*/
                

                }

.nav-links { display: flex;
              flex-wrap: wrap;
              justify-content: flex-end;
              list-style: none;

              margin-top: 2.75em;
              margin-left: .1em;
              margin-right: 1em;

              }
.nav-links a{text-decoration: none;}



.nav-links :hover { text-decoration: none;
                  background-color: grey;
                  
 }

.nav-links :visited{color: white;} 

.small-logo {width: 65px;
             height: 55px;
             margin-left: 8px;
             margin-top: 30px;
              position: fixed;}


/****** WEBSITE CONTENT **********/ 


/** HOME **/ 

#home-section {background-color:black;
               background-image: url(../images/grey-headshot.jpeg);
               background-repeat: no-repeat;
               background-size: 675px 500px ;
                height: 800px; 
                width: 100%;
                margin-top: 70px;
                }

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


 
.aboutkrista { color: white; 
                font-family: 'Montserrat', sans-serif;
                font-size: 100%;
                font-weight: 100;
                margin-top: 100px ;
                padding-left: 30px; 
                padding-left: 30px;} 

.aboutkrista a:visited { color: white;}

.about-btn { 
        margin-left: 10px;
        margin-top: -10%;
        width: 120px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        font-size: 80%;
        background-color: black;
        color: white;
        border: none;
        border-radius: 3px;}

#myDIV { display: none;
      padding-left: 100px; 
      padding-right:100px;}



.name { 
        padding-top: 360px;
        /** padding-left: 25px; **/ 
        margin-left: 5%;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 170%; 
        font-weight: 900; } 

.voice {/**padding-left: 130px; */

        margin-left: 155px;
        margin-top: -30px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 100; } 



/** Lessons **/                 

#lessons-section {background-color:black;
                  height: 600px;
                  width:100%;}
.lessons-graphic { width: 100%; 
                  height: auto ;
                  position: absolute;
                  max-width: 80%;
                  top: 90%;
                  left: 10%;
                  right: 10%;
}



.arrow_box {
  position: relative;
  background: #ffffff;
  margin-top: -19em;
}
.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px; }



/** Experience **/ 

#resume-section {background-color:black;
                height: 900px;
                width: 100%;}


.arrow_box_2 {
  position: relative;
  background: #ffffff;
  margin-top: 1px;
}
.arrow_box_2:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.experienceheader {  height:250px;
                  width:250px;
            }
.experience-div { text-align: center;}

.view, .download { height: 50px;
                  display: inline-block;
                  margin-top: -10%;
                  text-decoration: none;
                  font-size: 100%;}


.resume-pdf {text-align: center;}
       

.experience-info {color: white; 
                  font-family: 'Montserrat', sans-serif;
                  font-weight: 100;
                  font-size: 90%;
                  padding-left: 20px;
                  padding-right:20px;
                  line-height: 150%;}



/** contact**/ 
#contact-section {background-color:black;
                height: 950px;}


.contactinfo {font-family: 'Montserrat', sans-serif; 
               font-size: 80%; 
               font-weight: 100; ; 
               text-align: center; 
              color: white; }


.arrow_box_3 {
  position: relative;
  background: #ffffff;
  margin-top: 1px;
}
.arrow_box_3:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}





/*********** CONTACT FORM - adapted from bootstrap- *********/ 

.contact-header {text-align: center;} 
.contactimage { margin-top: 20px;
              width: 200px; 
                height: 200px;}

 #contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 90%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    font-size:1em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: 100%;
    padding:15px;
    color:#000;
    background:#fff;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 75%; 
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }


input {
    position: relative;
    z-index: 9999;
}

form{ float: center;
      padding-left: 10%;
      padding-right: 10%; }

.contact-form { margin-top: 50px;}

.contact-icon { text-align: center; }
 .black-facebook { width: 45px;
                  height: 45px;
                }
.black-twitter { width: 45px;
                  height: 45px;
                }



/**** FOOTER ********/ 

footer { background-color: #000; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 70%; 
        font-weight:100; 
        height: 40px;
        background-color: #A9A9A9;}

.footer-info { padding-top: 20px; } 



/******   MEDIA QUERIES  *******/ 


@media (max-width: 320px)  { 

.name       {margin-left: .5em;}

.voice      { margin-left: .7em;}


.lessons-graphic { height: 450px;
                  width: 350px;
                  position: absolute;
                  margin: auto;
                  top: 90% ; }

#resume-section { height: 1300px;}

 .view , .download { margin-bottom: 20px; }  

.view {margin-top: 10px;} } 


/*************************************/ 

@media screen and (max-width: 800px) and (min-width: 321px) { 

#home-section {  background-size: 100% 500px;
                ;}



.lessons-graphic { 
                    height: 450px;
                  width: 350px;
                  position: absolute;
                  margin: auto;
                  top: 85% ;  } 

          }


/************************************/ 

@media screen and (min-width: 801px) {

  .small-logo {width: 80px;
             height: 70px;
             margin-left: 8px;}

  .nav-links li { font-size: 80%;
                 font-weight: 100;}

  #home-section { height: 950px; 
                  background-size: 100% 950px;} 

  .name { margin-left: 50%; 
         padding-top: 170px;
        font-size: 300%;
        padding-bottom: -10px}
  .voice { margin-top: -4%;
        margin-left: 50%;
        padding-top: -5px;
        font-size: 200%;}
  
  #lessons-section {height: 1000px;}



.lessons-graphic {height: 550px;
                  width: 450px;
                  position: absolute; 
                  margin: auto;
                  top: 110%; } 

  #resume-section {height: 1000px; }

  .view, .download {margin-top: 20%;} 

  #contact-section { height: 1000px;} 

  
.contactinfo { font-size: 100%; } 

.about-btn {margin-left: 50%;
            margin-top: -20%;
            height: 35px; } } 

/***********************************************/ 

@media screen and (max-width: 600px) { 

.lessons-horizontal {display:none; !important } }

/************************************************/

@media screen and (max-width: 10000px) and (min-width: 600px) { 

.lessons-graphic { display: none;}

.lessons-horizontal { height: auto;
                      width: 90%;
                      margin-top: 10%;
                      margin-left: 5%;}
}
/*********************************************/ 

@media screen and (max-width: 801px) and (min-width: 321px) { 
 .about-btn {margin-left: 155px; }}




